@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  font-family: "Poppins", sans-serif;
}


.headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  padding: 0.5em 3em 0.5em;
  background-color: white;
}

.navigation ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  flex-wrap: wrap;
}

.navigation {
  border-bottom: 0px;
}

.navigation ul li a, .headerWrapper a {
  color: black;
  text-decoration: none
}

.navigation ul li {
  padding: 10px;
  border-bottom: 1px solid black;
  margin: 0 10px;
}


.navigation ul li:last-child {
  border-right: none;
}

.mainRouterWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 10%;
}

.signInCard, .signUpCard {
  position: relative;
  padding: 2em;
  min-height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 5px 35px rgb(0, 0, 0, 0.2);
  margin: 10px;
}

.signUpCard {
  height: 430px;
}

.signInCard .form, .signUpCard .form {
  position: relative;
  width: 100%;
}

.signInCard .form h2, .signUpCard .form h2 {
  color: #3873d1;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-left: 20px;
  border-left: 10px solid #3873d1;
  padding-left: 20px;
}

.signUpCard .form h2 {
  color: #f43648;
  border-left: 10px solid #f43648;
}

.signInCard .form.afterFirst .inputBox, .signUpCard .form.afterFirst .inputBox {
  position: relative;
  margin: 8px 20px;
}

.signInCard .form .inputBox, .signUpCard .form .inputBox {
  position: relative;
  margin: 20px;
}

.signInCard .form .inputBox input, .signUpCard .form .inputBox input {
  width: -webkit-fill-available;
  outline: none;
  border: 1px solid black;
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  padding-left: 35px;
  padding-right: 35px;
}

.signInCard .form.afterFirst .inputBox input.success,
.passwordForm.afterFirst .inputBox input.success,
.editWrapper.afterFirst .activeEdit input.success,
.signUpCard .form.afterFirst .inputBox input.success {
  border: 2px solid #2ecc71;
}

.signInCard .form.afterFirst .inputBox input.error,
.editWrapper.afterFirst .activeEdit input.error,
.passwordForm.afterFirst .inputBox input.error,
.signUpCard .form.afterFirst .inputBox input.error {
  border: 2px solid #f43648;
}

.signInCard .form .inputBox .icon,
.signUpCard .form .inputBox .icon {
  position: absolute;
  top: 6px;
  left: 7px;
  font-size: 25px;
  color: #3873d1;
}

.signInCard .form .inputBox .icon.password,
.signUpCard .form .inputBox .icon.password {
  color: #f43648;
}

.signInCard .form .inputBox.datalist input,
.signUpCard .form .inputBox.datalist input {
  padding-left: 10px;
}

.signInCard .form .inputBox input[type="submit"], .signUpCard .form .inputBox input[type="submit"] {
  max-width: 100px;
  background-color: #2ecc71;
  padding: 8px 10px;
  font-weight: 700;
  font-size: 18px;
  color: white;
  border: none;
  cursor: pointer;
  letter-spacing: 1.8px;
}

.signInCard .form a, .signUpCard .form a {
  margin-left: 20px;
  font-weight: 500;
  font-size: 15px;
}


.step1, .step2 {
  display: flex;
}

.step2 {
  flex-direction: row-reverse;
  margin-top: 50px;
}

.step1 .image {
  width: 300px;
  margin-right: 50px;
}

.step2 .image {
  width: 300px;
  margin-left: 50px;
}

.step1 .image img, .step2 .image img {
  width: inherit;
}

.rightSide {
  display: flex;
  align-items: center;
}

.profileWrapper .profileHeader {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
}

.profileWrapper .bottomPart {
  margin-top: 50px;
  font-weight: 600;
}

.profileWrapper .bottomPart div {
  background-color: white;
  padding: 20px;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 5px 35px rgb(0, 0, 0, 0.2);
}

.editWrapper .editForm, .passwordWrapper .passwordForm, .successPassword {
  background-color: white;
  box-shadow: rgb(38 57 77) 0px 20px 30px -10px;
  padding: 50px;
}

.passwordWrapper .passwordForm, .successPassword {
  width: initial;
}

.meditationWrapper {
  background-color: rgb(0, 0, 0, 0.3);
  box-shadow: rgb(38 57 77) 0px 20px 30px -10px;
  padding: 50px;
  max-width: 430px;
  position: relative;
}


.firstFormUserName, .firstFormEmail {
  display: flex;
  align-items: center;
}

.firstFormUserName h3, .firstFormEmail h3 {
  flex: 0 0 120px;
  text-align: right;
  margin-right: 10px;
}

.firstFormUserName .edit, .firstFormEmail .edit {
  width: 100%;
}

.firstFormUserName input, .firstFormEmail input {
  padding: 10px;
  outline: none;
  font-size: 16px;
  border: 1px solid black;
  background: transparent;
  width: 100%;
}

.firstFormUserName .editIcon, .firstFormEmail .editIcon {
  display: flex;
  justify-content: center;
  flex: 0 0 50px;
}

.firstFormUserName #edit, .firstFormEmail #edit {
  color: #287bff;
  font-size: 22px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.activeEdit p, .edit input, .hideIcon {
  display: none;
}

.editForm.active .buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.editForm .buttons {
  display: none;
}

.buttons button {
  font-size: 18px;
  font-weight: 600;
  color: white;
  border: none;
  letter-spacing: 1px;
  padding: 10px 20px;
  cursor: pointer;
}


.buttons button#cancel {
  background-color: #ACB5BD;
}

.buttons button#change {
  background-color: #3CC361;
}

.passwordWrapper .passwordForm form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.passwordWrapper .passwordForm form h3 {
  font-size: 1.5em;
  color: black;
  text-align: center;
}

.passwordWrapper .passwordForm .inputBox {
  position: relative;
  width: 100%;
  margin-bottom: 3cm;
}

.passwordWrapper .passwordForm .inputBox.last {
  margin-bottom: 2.5cm;
}

.passwordWrapper .passwordForm .inputBox input {
  margin-bottom: 40px;
  padding: 10px;
  outline: none;
  font-size: 18px;
  border: 1px solid black;
  position: absolute;
  width: -webkit-fill-available;
  background: transparent;
}

.passwordWrapper .passwordForm .inputBox span {
  position: absolute;
  top: 1px;
  left: 1px;
  padding: 10px;
  font-size: 18px;
  transition: 0.5s;
  font-weight: 300;
  pointer-events: none;
}

.passwordWrapper .passwordForm .inputBox p {
  position: absolute;
  top: 40px;
  color: red;
}

.passwordWrapper .passwordForm .buttons {
  display: flex;
  justify-content: space-between;
}

.passwordWrapper .passwordForm .buttons a {
  background-color: #ACB5BD;
  border: none;
  color: white;
  max-width: 110px;
  cursor: pointer;
  padding: 10px;
  outline: none;
  font-size: 16px;
  width: 100%;
  text-decoration: none;
  text-align: center;
}

.passwordWrapper .passwordForm .buttons input[type="submit"] {
  background-color: #3CC361;
  border: none;
  color: white;
  max-width: 120px;
  cursor: pointer;
  margin-bottom: 0px;
  width: 100%;
  font-size: 16px;
  padding: 0;
}

.passwordWrapper .passwordForm .inputBox input:focus~span, .passwordWrapper .passwordForm .inputBox.active span {
  transform: translateX(-10px) translateY(-35px);
}

.successPassword .icon .realIcon {
  color: #3CC361;
  font-size: 5em;
}

.successPassword {
  text-align: center;
  margin-top: 0;
}

.successPassword .middle {
  display: flex;
  justify-content: center;
  align-items: center;
}


.successPassword .circle {
  border: 5px solid black;
  width: 50px;
  border-radius: 50%;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0;
  font-weight: 600;
}

.progressBar {
  --bar-bg: #ffe3d4;
  --seek-before-width: 0;
  --seek-before-color: #3CC361;
  appearance: none;
  background: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 11px;
  outline: none;
  overflow: hidden;
}

.progressBar::before {
  content: "";
  height: 11px;
  width: var(--seek-before-width);
  background-color: var(--seek-before-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 0;
  left: 0px;
  z-index: 2;
}

.progressBar::-webkit-slider-thumb {
  display: none;
}

.meditationWrapper .circle {
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 35px rgb(0, 0, 0, 0.2);
  background: black;
  aspect-ratio: 1;
}

.inRow {
  display: flex;
  justify-content: center;
  align-items: center;
width: 100%;
margin-top: 10px;
}

.meditationWrapper .title {
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: 600;
  margin-top: 20px;
}

.meditationWrapper .circle img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

.meditationWrapper .circle button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background: transparent;
  border: none;
  font-size: 70px;
  color: white;

}


.meditationWrapper .circle button .realIcon {
  cursor: pointer;
}

.meditationWrapper .heart {
  position: absolute;
  right: 20px;
  bottom: 5px;
  font-size: 40px;
  color: white;
}

.meditationWrapper .heart .realIcon {
  cursor: pointer;
}

.libraryWrapper {
  width: 100%;
}

.libraryWrapper .rowWrapper .title {
  text-decoration: underline;
  font-size: 40px;
  font-weight: 600;
}

.libraryWrapper .rowWrapper .grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}


.libraryWrapper .rowWrapper .grid .singleSong .img {
  height: 200px;
}

.libraryWrapper .rowWrapper .grid .singleSong .img img {
  width: 100%;
  height: 100%;
}

.libraryWrapper .rowWrapper .grid .singleSong {
  cursor: pointer;
}

.libraryWrapper .rowWrapper .grid .singleSong:hover {
  box-shadow: 0 5px 35px rgb(0, 0, 0, 0.2);
}

.libraryWrapper .rowWrapper .grid .singleSong .titleSong {
  color: white;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

.libraryWrapper .rowWrapper .grid a {
  text-decoration: none;
}

.kep-login-facebook.metro {
  width: 100%;
}

.or {
  position: relative;
  height: 50px;
}


.or span {
  text-align: center;
  position: absolute;
  right: 42%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: white;
  width: 30px;
}

.or::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: black;
  position: absolute;
  top: 50%;
}

@media (max-width: 1024px) {
  .libraryWrapper .rowWrapper .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .libraryWrapper .rowWrapper .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  .libraryWrapper .rowWrapper .grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .headerWrapper {
    display: block;
  }
}

.cardWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
  width: 100%;
}

.card {
  position: relative;
  width: 320px;
  height: 450px;
  margin: 30px;
  background-color: #287bff;
  border-radius: 20px;
  border-bottom-right-radius: 160px;
  border-bottom-left-radius: 160px;
  box-shadow: 0 15px 0 white,
    inset 0 -15px 0 rgba(255, 255, 255, 0.25),
    0 45px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.card::before {
  content: "";
  position: absolute;
  top: -140px;
  left: -40%;
  width: 100%;
  height: 120%;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2));
  transform: rotate(35deg);
  pointer-events: none;
  filter: blur(5px);
}

.card:nth-child(1) {
  background: linear-gradient(to bottom, red, purple);
}

.card:nth-child(2) {
  background: linear-gradient(to bottom, yellow, red);
}

.card:nth-child(3) {
  background: linear-gradient(to bottom, green, grey);
}

.card .icon {
  position: relative;
  width: 140px;
  height: 120px;
  background: #AD90ED;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-shadow: 0 10px 0 rgba(0, 0, 0, 0.1),
    inset 0 -8px 0 white;
  z-index: 1000;
  display: flex;
  justify-content: center;
  font-size: 85px;
}


.card .icon::before {
  content: "";
  position: absolute;
  left: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-top-right-radius: 50px;
  box-shadow: 15px -15px 0 15px #AD90ED;
}

.card .icon::after {
  content: "";
  position: absolute;
  right: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-top-left-radius: 50px;
  box-shadow: -15px -15px 0 15px #AD90ED;
}

.content {
  position: absolute;
  width: 100%;
  padding: 30px;
  padding-top: 140px;
  text-align: center;
}

.content span {
  font-size: 50px;
  line-height: 2.5;
}

.homePage {
  width: 80%;
}

.homePage img {
  width: 100%;
}

.registrationWrapper {
  width: 100%;
  max-width: 400px;
}

.profileWrapper {
  width: 100%;
  max-width: 400px;
}

.editWrapper {
  width: 100%;
  max-width: 430px;
}

.editWrapper .edit {
  word-break: break-all;
}

.passwordWrapper {
  max-width: 450px;
  width: 100%;
}